@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #RMAPartsRepairTAT {
        position: relative;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .redDiv {
        color: orange;
    }

    .greenDiv {
        color: #2f8c17;
    }

    .HorizontalLegends tr {
        display: inline-block;
        padding: 2px;
    }

    .chart_shadow {
        box-shadow: 1px 1px 5px 1px #dcdccd;
    }
</style>

<style type="text/css">
    td {
        vertical-align: top;
    }

    .chartElement {
        padding-bottom: 20px;
    }

    .selectionOptions {
        margin-bottom: 10px;
    }

    .sliderBounds {
        width: 95px;
        margin: 6px 3px 6px 6px;
        display: inline-block;
    }

    .optionContainer {
        min-width: 120px;
        max-width: 250px;
        margin: 2px;
        padding: 2px;
        display: inline-block;
        border: 1px solid #e0e0e0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

    .selectBounds {
        min-width: 120px;
        max-width: 132px;
    }
</style>

<link href="~/css/Charts.css" rel="stylesheet" />
    <div class="row">
        <div class="col-lg-12 col-xs-12" id="dashboard">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_none">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="header_citation">
                        Import Inventory Stock and Status
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_none" id="TotalMetersCustomer">
                    <div class="col-sm-3">

                        @*<div class="card card-block chart_shadow">
                            <h3 class="card-title">Test Model </h3>
                            <p class="card-text">TotalMeters</p>
                        </div>*@
                    </div>
                    <div class="col-sm-9">
                        @*<div class="card card-block chart_shadow">
                            <div class="col-sm-6 greenDiv">
                                <h3 class="card-title">InWarranty</h3>
                                <p class="card-text">InWarrenty Transdlation</p>
                            </div>
                            <div class="col-sm-6 redDiv">
                                <h3 class="card-title">NonWarranty</h3>
                                <p class="card-text">Dashboard_lbltext_NonWarranty</p>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding_none" id="TotalMetersRMA">
                    <div class="col-sm-3">
                        @*<div class="card card-block chart_shadow">
                            <h3 class="card-title">RMAMeter</h3>
                            <p class="card-text">Dashboard_lbltext_RMAMeters</p>
                        </div>*@
                    </div>
                    <div class="col-sm-9">
                        @*<div class="card card-block chart_shadow">
                            <div class="col-sm-6 greenDiv">
                                <h3 class="card-title">InWarranty</h3>
                                <p class="card-text"> Trans InWarrenty</p>
                            </div>
                            <div class="col-sm-6 redDiv">
                                <h3 class="card-title">NonWarranty</h3>
                                <p class="card-text">Dashboard_lbltext_NonWarranty")</p>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="">
                    @*<div class="col-sm-6">
                        <lable>Global_ChartType_lblText") :</lable>
                        <select id="CustomerMeterByPTChartType" class="selectBounds" style="height: 30px;">
                            <option value="area">Area</option>
                            <option value="column">Column</option>
                            <option value="bar">Bar</option>
                            <option value="line" selected="selected">Line</option>
                            <option value="splineArea">Spline Area</option>
                            <option value="spline">Spline</option>
                            <option value="stepArea">Step Area</option>
                            <option value="stepLine">Step Line</option>
                            <option value="point">Point</option>
                        </select>
                        <div id="CustomerMeterByPTLegend" class="HorizontalLegends"></div>
                        <div class="card card-block chart_shadow">
                            <div id="CustomerMeterByPT" style="width:100%;height:400px"></div>
                        </div>
                    </div>*@

                    @*<div class="col-sm-6">
                        <lable>Global_ChartType_lblText") :</lable>
                        <select id="RMAPartsCountAsOfTodayChartType" class="selectBounds" style="height: 30px;">
                            <option value="area">Area</option>
                            <option value="column">Column</option>
                            <option value="bar">Bar</option>
                            <option value="line" selected="selected">Line</option>
                            <option value="splineArea">Spline Area</option>
                            <option value="spline">Spline</option>
                            <option value="stepArea">Step Area</option>
                            <option value="stepLine">Step Line</option>
                            <option value="point">Point</option>
                        </select>
                        <div id="RMAPartsCountAsOfTodayLegend" class="HorizontalLegends"></div>
                        <div class="card card-block chart_shadow">
                            <div id="RMAPartsCountAsOfToday" style="width:100%;height:400px"></div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-sm-12">
                @*<div class="card card-block">
                    <div class="clearfix"></div>

                    <div class="col-sm-6">
            <lable>Global_ChartType_lblText") :</lable>
            <select id="MetersShippedByMonthsChartType" class="selectBounds" style="height: 30px;">
                <option value="area">Area</option>
                <option value="column">Column</option>
                <option value="bar">Bar</option>
                <option value="line" selected="selected">Line</option>
                <option value="splineArea">Spline Area</option>
                <option value="spline">Spline</option>
                <option value="stepArea">Step Area</option>
                <option value="stepLine">Step Line</option>
                <option value="point">Point</option>
            </select>
            <div id="MetersShippedByMonthsLegend" class="HorizontalLegends"></div>
            <div class="card card-block chart_shadow">
                <div id="MetersShippedByMonths" style="width:100%;height:400px"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <lable>Global_ChartType_lblText") :</lable>
            <select id="MonthlyRMAPartsWarrantyForYearChartType" class="selectBounds" style="height: 30px;">
                <option value="area">Area</option>
                <option value="column">Column</option>
                <option value="bar">Bar</option>
                <option value="line" selected="selected">Line</option>
                <option value="splineArea">Spline Area</option>
                <option value="spline">Spline</option>
                <option value="stepArea">Step Area</option>
                <option value="stepLine">Step Line</option>
                <option value="point">Point</option>
            </select>
            <div id="MonthlyRMAPartsWarrantyForYearLegend" class="HorizontalLegends"></div>
            <div class="card card-block chart_shadow">
                <div id="MonthlyRMAPartsWarrantyForYear" style="width:100%;height:400px"></div>
            </div>
        </div>
    </div>*@
            </div>

            <div class="col-sm-12">
                @*<div class="card card-block">
                    
                </div>*@

            </div>
        </div>


        <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" rel="stylesheet" />
        <link href="http://cdn-na.infragistics.com/igniteui/2016.2/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
        <link href="http://cdn-na.infragistics.com/igniteui/2016.2/latest/css/structure/infragistics.css" rel="stylesheet" />

        <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

        <!-- Ignite UI Required Combined JavaScript Files -->
        <script src="http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/infragistics.core.js"></script>
        <script src="http://cdn-na.infragistics.com/igniteui/2016.2/latest/js/infragistics.dv.js"></script>
        <script>

        $(document).ready(function () {

            $("#customer").change(function () {
                var CustomerID = $("#customer").val();
                var params = {
                    "customerid": CustomerID
                }
                //Updates customer Id in session
                $.ajax({
                    type: 'GET',
                    url: "/RMA/RMADetails/UpdateSession",
                    contentType: "application/json; charset=utf-8",
                    datatype: 'json',
                    data: params,
                    success: function (result) {
                        if (result.data == "success") {
                            window.location.href = 'HomePage';
                        }
                        else {
                            console.log("Failed : Unable to Update Customer");
                        }
                    },
                    error: function () {
                        console.log("Error: Unable to Update Customer");
                    }
                });
            });
        });

        </script>


        }
